.picture{
    height: 200px;
    width: fit-content;
    border-radius: 100px;
    /*border-radius: 5px;*/
    border-style: solid;
    border-color: black;
}

.flexTemplate{
    display: grid;
}

.flexContainer{
    display: grid;
    place-items: center;
}

header{
    display: flex;
    justify-content: center;
    background-color: cornflowerblue;
}

body{
    margin: 0;
    display: grid;
    background-color: rgb(219, 204, 204);
}

h1{
    margin-top: 10px;
}

h2{
    margin-bottom: 30px;
}

p{
    margin-right: 50%;
}

.heading1{
    text-align: center;
}

.heading2{
    text-align: left;
}

.genInfo{
    margin-left: 80px;
    margin-top: 40px;
}

.infoContainer{
    grid-column: 1;
    background-color: bisque;
    border-style: solid;
    border-color: black;
    position: relative;
}

main{
    grid-template-columns: 1fr 1fr;
}

.workContainer{
    grid-column: 2;
}

.imgContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.hanoiSteg{
    position: relative;
}

.hanoiSteg img{
    max-width: 100%;
    height: auto;
    display: block;
}

.workDone{
    margin-top: 60px;
}

.norgeFlagg{
    width: 200px;
    height: fit-content;
}
