body {
    background-color: #DBEFF7;
    font-family: Georgia, serif;
    text-align: left;
  }
  h1{
    text-align: center;
    padding: 50px;
  }
  p{
    padding: 10px;
  }
div {
    width: 90%;
    background-color: #8fe8c9;
    border: 3px solid #ffffff;
    margin: 5px;
    padding: 10px;
    text-align: left;
  }
  #div1{
    border: 3px solid #ffffff;
    background-color: rgb(35, 201, 159);

  }
  
  #meny {
    display: flex;
    flex-direction: row;
    
  }